* {
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    margin: auto;
}

body {
    background-color: rgb(180, 240, 225);
}

a {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 23px;
    font-weight: bold;
    margin-top: 9px;
}

a.kiri {
    text-align: center;
    margin-right: 350px;
}

a:hover {
    text-decoration: underline;
    color: rgb(87, 83, 83);
}

.name {
    color: rgb(228, 60, 60);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-right: 35px;
}

.kirii {
    margin-top: 20px;
    padding-right: 350px;
}

.special {
    margin-top: 40px;
    margin-left: 390px;
    text-align: center;
}

.smpgpm {
    color: black;
    background-color: rgb(180, 240, 225);
    margin-top: 30px;
    border-bottom: 2px solid black;
}

.jurnalistik {
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

a.kanan {
    justify-content: center;
    text-align: center;
    margin-left: 350px;
}

.smpgpmlogo {
    top: 10px;
    position: absolute;
    margin-left: -85px;
    width: 100%;
    height: auto;
    max-width: 75px;
    margin-right: 20px;
}

.pramukapicture3, .pramukapicture4, .pramukapicture6, .pramukapicture5{
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.pramukapicture3 {
    margin-top: -195px;
    float: left;
}

.pramukapicture4 {
    position: absolute;
    margin-top: -195px;
    margin-left: 440px;
    float: left;
}

.pramukapicture5 {
    margin-top: -195px;
    float: right;
}

.pramukapicture6 {
    position: absolute;
    margin-left: 95px;
    margin-top: -195px;
    float: left;
}

.pramukapicture {
    display: block;
    position: absolute;
    float: left;
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.desc1 {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 250;
    font-size: 18px;
    margin-left: 380px;
    margin-top: 80px;
}

.pramukapicture2 {
    display: flex;
    float: right;
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-top: 110px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

.desc2 {
    display: flex;
    position: absolute;
    text-align: left;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 400px;
    margin-right: 380px;
}

.desc .desc3 {
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 950px;
    margin-right: 250px;
}

.btmpramuka {
    margin-top: 200px;
    margin-left: 25px;
    font-size: 30px;
    font-weight: bold;
    
}

@media screen and (max-width:768px) {
    .smpgpmlogo {
        display: flex;
        position: sticky;
        max-width: 70px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jurnalistik {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .smpgpm {
        font-size: 15px;
        margin-bottom: 2px;
        border-bottom: 2px solid black;
    }

    a {
        text-align: center;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        padding-right: 40px;
    }

    .name {
        text-align: center;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .kirii {
    padding-right: 350px;
   }

    .special {
        margin-top: 35px;
        margin-left: 350px;
    }

    .pramukapicture3, .pramukapicture4, .pramukapicture6, .pramukapicture5{
        margin: 10px;
        border-radius: 5px;
    }
    
    img.pramukapicture3 {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: -195px;
        float: left;
    }
    
    img.pramukapicture4 {
        max-width: 150px;
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: -195px;
        margin-left: 390px;
        float: left;
    }
    
    img.pramukapicture5 {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: -195px;
        float: right;
    }
    
    img.pramukapicture6 {
        display: flex;
        position: sticky;
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-left: 1px;
        margin-top: -195px;
        float: left;
    }
    
    img.pramukapicture {
        display: block;
        position: absolute;
        float: left;
        max-width: 330px;
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 5px;
    }
    
    p.desc1 {
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 250;
        font-size: 16px;
        margin-left: 380px;
        margin-top: 30px;
    }
    
    img.pramukapicture2 {
        display: flex;
        float: right;
        max-width: 330px;
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 5px;
    }
    
    p.desc2 {
        display: flex;
        position: absolute;
        text-align: left;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 375px;
        margin-right: 380px;
    }
    
    .desc .desc3 {
        text-align: left;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 950px;
        margin-right: 250px;
    }
    
    .btmpramuka {
        margin-top: 200px;
        margin-left: 25px;
        font-size: 28px;
        font-weight: bold;
    }

}

@media screen and (max-width:850px) {
    .pramukapicture3, .pramukapicture4, .pramukapicture6, .pramukapicture5{
        margin: 10px;
        border-radius: 5px;
    }
    
    img.pramukapicture3 {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: -195px;
        float: left;
    }
    
    img.pramukapicture4 {
        max-width: 150px;
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: -195px;
        margin-left: 260px;
        float: left;
    }
    
    img.pramukapicture5 {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: -195px;
        float: right;
    }
    
    img.pramukapicture6 {
        display: flex;
        position: sticky;
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-left: 1px;
        margin-top: -195px;
        float: left;
    }
    
    img.pramukapicture {
        display: block;
        position: absolute;
        float: left;
        max-width: 330px;
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 5px;
    }
    
    p.desc1 {
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 250;
        font-size: 16px;
        margin-left: 380px;
        margin-top: 30px;
    }
    
    img.pramukapicture2 {
        display: flex;
        float: right;
        max-width: 330px;
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 5px;
    }
    
    p.desc2 {
        display: flex;
        position: absolute;
        text-align: left;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 375px;
        margin-right: 380px;
    }
    
    p.desc3 {
        text-align: left;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 20px;
        margin-left: 180px;
    }
    
    a.btmpramuka {
        margin-top: 200px;
        margin-left: 25px;
        font-size: 28px;
        font-weight: bold;
    }

}

@media screen and (max-width: 576px) {
    .smpgpmlogo {
        display: flex;
        position: sticky;
        max-width: 65px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .jurnalistik {
        font-size: 17px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    
    .smpgpm {
        font-size: 13px;
        margin-bottom: 0px;
        border-bottom: 2px solid black;
    }

    a {
        text-align: center;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
        padding-right: 40px;
    }

    .name {
        text-align: center;
        font-size: 22px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .kirii {
    padding-right: 190px;
   }

    .special {
        margin-top: 35px;
        margin-left: 150px;
    }

    a.kanan {
        margin-left: 150px;
    }

    a.kiri {
        margin-right: 150px;
        text-align: center;
    }

}


@media screen and (max-width:380px) {
    .smpgpmlogo {
        display: flex;
        position: sticky;
        max-width: 63px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .jurnalistik {
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    
    .smpgpm {
        font-size: 12px;
        margin-bottom: 0px;
        border-bottom: 2px solid black;
    }

    a {
        text-align: center;
        display: block;
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
        padding-right: 40px;
    }

    .name {
        text-align: center;
        font-size: 18px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .kirii {
    padding-right: 135px;
   }

    .special {
        margin-top: 35px;
        margin-left: 65px;
    }

    a.kanan {
        margin-left: 65px;
    }

    a.kiri {
        margin-right: 100px;
        text-align: center;
    }
}

@media screen and (max-width:640px) {
    .smpgpmlogo {
        display: flex;
        position: sticky;
        position: -webkit-sticky;
        max-width: 65px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .jurnalistik {
        font-size: 17px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    
    .smpgpm {
        font-size: 16px;
        margin-bottom: 0px;
        border-bottom: 2px solid black;
    }

    a {
        text-align: center;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
        padding-right: 40px;
    }

    .name {
        text-align: center;
        font-size: 22px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .kirii {
    padding-right: 190px;
   }

    .special {
        margin-top: 35px;
        margin-left: 150px;
    }

    a.kanan {
        margin-left: 150px;
    }

    a.kiri {
        margin-right: 150px;
        text-align: center;
    }

}

@media screen and (max-width:280px) {
    .smpgpmlogo {
        display: flex;
        position: sticky;
        max-width: 60px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .jurnalistik {
        font-size: 15px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    
    .smpgpm {
        font-size: 13px;
        margin-bottom: 0px;
        border-bottom: 2px solid black;
    }

    a {
        text-align: center;
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-top: 5px;
        padding-right: 40px;
    }

    .name {
        text-align: center;
        font-size: 17px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .kirii {
    padding-right: 120px;
   }

    .special {
        margin-top: 35px;
        margin-left: 65px;
    }

    a.kanan {
        margin-left: 80px;
    }

    a.kiri {
        margin-right: 80px;
        text-align: center;
    }
}


@media screen and (max-width:1092px) {
    .pramukapicture4 {
        margin-left: 510px;
    }
}

@media screen and (max-width:1084px) {
    .pramukapicture4 {
        margin-left: 499px;
    }
}

@media screen and (max-width:1045px) {
    .pramukapicture4 {
        width: 100%;
        height: auto;
        margin-left: 480px;
    }
}

@media screen and (max-width:1023px) {
    .pramukapicture4 {
        margin-left: 430px;
    }
}

@media screen and (max-width:998px) {
    .pramukapicture4 {
        margin-left: 410px;
    }
}

@media screen and (max-width:981px) {
    .pramukapicture4 {
        margin-left: 400px;
    }
}

@media screen and (max-width:968px) {
    .pramukapicture4 {
        margin-left: 390px;
    }
}

@media screen and (max-width:959px) {
    .pramukapicture4 {
        margin-left: 330px;
    }
}

@media screen and (max-width:900px) {
    .pramukapicture4 {
        margin-left: 300px;
    }
}
